.forecastItem {
  width: 32%;
  margin-bottom: 1rem;

  @media screen and(max-width: 650px) {
    width: 100%;
    align-self: center;
  }

  p {
    font-size: 80%;
  }
}

.tempHighLow {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 250%;
}

.high {
  color: black;
}
.low {
  color: grey;
}
