.forecastItem {
  width: 30%;
  margin-bottom: 1rem;

  @media screen and(max-width: 650px) {
    width: 100%;
    align-self: center;
  }

  p {
    font-size: 80%;
    text-align: center;
  }
}

.tempHighLow {
  display: flex;
  justify-content: space-evenly;

  p {
    font-size: 250%;
  }

  @media screen and(max-width: 550px) {
    p {
      font-size: 200%;
    }
  }
}
