@charset "utf-8";

// Import a Google Font

// Set your brand colors

// Update Bulma's global variables

// Update some of Bulma's component variables
$navbar-breakpoint: 650px;

// Import only what you need from Bulma
@import '../node_modules/bulma/bulma.sass';

.App {
  background-color: #f5f5f5;
}

.navbar-brand .navbar-item {
  width: 70px !important;
  justify-content: center;
}
